@using MyLabVar11.Models;
@{
    ViewBag.Title = "Pereb";
}
@{
    Layout = null;
}


<h2>Авторизация</h2>

<tr>Вам нужно войти или зарегистрироваться</tr>
<p>@Html.ActionLink("Авторизация", "LogIn", "Account")<p>